<app-navbar [menu]="menu"></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-5 mx-auto">
      <form>
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="name" class="form-control" id="exampleInputName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="E-mail">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-row">
          <button type="submit" class="col btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

