<app-navbar></app-navbar>
<div class="container mt-3">
  <ng-container *appUnless="show" >
    <h3 appUnderline>All Users</h3>
  </ng-container>


  <div class="row">
    <div *ngFor="let user of users" class="col card m-1" style="width: 18rem;">
      <div class="card-body ">
        <h5 class="card-title">{{user.user.username}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.user.email}}</h6>
      </div>
    </div>
  </div>
<!--  Usage o/-->
  <button [appBtn]="'cancel'">
    Cancel
  </button>
  <button [appBtn]="'save'">
    Save
  </button>
</div>
