@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.body {
  overflow: hidden;
}
