@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.body {
  overflow: hidden;
}
.btn-custom{
  background-color: blue;
  width: 100px;
}
.btn-custom-red{
  background-color: red;
  width: 200px;
}


/** { background-color: rgba(255,0,0,.2); }*/
/** * { background-color: rgba(0,255,0,.2); }*/
/** * * { background-color: rgba(0,0,255,.2); }*/
/** * * * { background-color: rgba(255,0,255,.2); }*/
/** * * * * { background-color: rgba(0,255,255,.2); }*/
/** * * * * * { background-color: rgba(255,255,0,.2); }*/
/** * * * * * * { background-color: rgba(255,0,0,.2); }*/
/** * * * * * * * { background-color: rgba(0,255,0,.2); }*/
/** * * * * * * * * { background-color: rgba(0,0,255,.2); }*/
